@font-face {
  font-family: 'VCR OSD';
  src:  url('vcr_osd.ttf') format('truetype');
}

body {
	font-family: 'VCR OSD', monospace;
	font-size: 8vh;
	font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .3vh;
	background: url('static.jpg') top left repeat-y, black;
	background-attachment: fixed;
  background-size: 100% 18360px;
	overflow: hidden;
	animation: background-loop 900ms infinite steps(1);
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
  top: 0;
  padding: 0;
  margin: 0;
}

.x {
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  animation: blink 5ms infinite, blur 20ms infinite, flick 50ms infinite, jump 50ms infinite;
}

#t {
  filter: blur(4px);
	text-shadow: 1px 3px green, -2px -3px red;
}

#t::after {
	content: attr(data-block);
	opacity: 0;
	animation: blink 1s linear infinite;
}

#w {
  filter: blur(7px);
	text-shadow: 1px 2px green, -1px -2px red;
}

@keyframes background-loop {
  0% {
    background-position: 0% 0px;
  }
  5.8823529412% {
    background-position: 0% -1080px;
  }
  11.7647058824% {
    background-position: 0% -2160px;
  }
  17.6470588235% {
    background-position: 0% -3240px;
  }
  23.5294117647% {
    background-position: 0% -4320px;
  }
  29.4117647059% {
    background-position: 0% -5400px;
  }
  35.2941176471% {
    background-position: 0% -6480px;
  }
  41.1764705882% {
    background-position: 0% -7560px;
  }
  47.0588235294% {
    background-position: 0% -8640px;
  }
  52.9411764706% {
    background-position: 0% -9720px;
  }
  58.8235294118% {
    background-position: 0% -10800px;
  }
  64.7058823529% {
    background-position: 0% -11880px;
  }
  70.5882352941% {
    background-position: 0% -12960px;
  }
  76.4705882353% {
    background-position: 0% -14040px;
  }
  82.3529411765% {
    background-position: 0% -15120px;
  }
  88.2352941176% {
    background-position: 0% -16200px;
  }
  94.1176470588% {
    background-position: 0% -17280px;
  }
  100% {
    background-position: 0% -18360px;
  }
}

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blur {
	1% { opacity: .9; }
	50% { opacity: 1;  }
	100% { opacity: .9; }
}
@keyframes flick {
  from, 49.9% { left: 49.5%; }
  50%, to { left: 50%; }
}
@keyframes jump {
  30% { top: 49%; }
  31% { top: 50%; }
}

@keyframes blink {
	from, 49.9% { opacity: 0; }
  50%,to { opacity: .5; }
}

@keyframes vibrate {
  0% { transform: translate(-50%, -50%); }
  10% { transform: translate(-48%, -49%); }
  20% { transform: translate(-51%, -51%); }
  30% { transform: translate(-48%, -50%); }
  40% { transform: translate(51%, 50%); }
  50% { transform: translate(-50%, -48%); }
  60% { transform: translate(52%, -48%); }
  70% { transform: translate(-48%, 51%); }
  80% { transform: translate(-48%, -49%); }
  90% { transform: translate(51%, -49%); }
  100% { transform: translate(-50%, -50%); }
}
